{% load static %}
{% load poll_extras %}
{% load render_partial %}
{% load widget_tweaks %}


<div class="comments">
    <div class="comments__title">
        <h4>دیدگاه ها</h4>
        <span>{{ comments.count }}</span>
    </div>
    <ul class="comments__list">
        {% for comment in comments %}
            {% if comment.parent_comment == None %}
                <li class="comments__item">
                    <div class="comments__autor">
                        <img class="comments__avatar" src="{% static 'img/user.svg' %}" alt="">
                        <span class="comments__name">{{ comment.owner.email }}</span>
                        <span class="comments__time">{{ comment.create_date|jalali }}</span>
                    </div>
                    <p class="comments__text">{{ comment.text }}</p>
                    <div class="comments__actions">
                        <div class="comments__rate">
                            <button type="button">
                                <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512'
                                     viewBox='0 0 512 512'>
                                    <path d='M320,458.16S304,464,256,464s-74-16-96-32H96a64,64,0,0,1-64-64V320a64,64,0,0,1,64-64h30a32.34,32.34,0,0,0,27.37-15.4S162,221.81,188,176.78,264,64,272,48c29,0,43,22,34,47.71-10.28,29.39-23.71,54.38-27.46,87.09-.54,4.78,3.14,12,7.95,12L416,205'
                                          style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
                                    <path d='M416,271l-80-2c-20-1.84-32-12.4-32-30h0c0-17.6,14-28.84,32-30l80-4c17.6,0,32,16.4,32,34v.17A32,32,0,0,1,416,271Z'
                                          style='fill:none;stroke-miterlimit:10;stroke-width:32px'/>
                                    <path d='M448,336l-112-2c-18-.84-32-12.41-32-30h0c0-17.61,14-28.86,32-30l112-2a32.1,32.1,0,0,1,32,32h0A32.1,32.1,0,0,1,448,336Z'
                                          style='fill:none;stroke-miterlimit:10;stroke-width:32px'/>
                                    <path d='M400,464l-64-3c-21-1.84-32-11.4-32-29h0c0-17.6,14.4-30,32-30l64-2a32.09,32.09,0,0,1,32,32h0A32.09,32.09,0,0,1,400,464Z'
                                          style='fill:none;stroke-miterlimit:10;stroke-width:32px'/>
                                    <path d='M432,400l-96-2c-19-.84-32-12.4-32-30h0c0-17.6,13-28.84,32-30l96-2a32.09,32.09,0,0,1,32,32h0A32.09,32.09,0,0,1,432,400Z'
                                          style='fill:none;stroke-miterlimit:10;stroke-width:32px'/>
                                </svg>
                                12
                            </button>
                            <button type="button">7
                                <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512'
                                     viewBox='0 0 512 512'>
                                    <path d='M192,53.84S208,48,256,48s74,16,96,32h64a64,64,0,0,1,64,64v48a64,64,0,0,1-64,64H386a32.34,32.34,0,0,0-27.37,15.4S350,290.19,324,335.22,248,448,240,464c-29,0-43-22-34-47.71,10.28-29.39,23.71-54.38,27.46-87.09.54-4.78-3.14-12-8-12L96,307'
                                          style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
                                    <path d='M96,241l80,2c20,1.84,32,12.4,32,30h0c0,17.6-14,28.84-32,30l-80,4c-17.6,0-32-16.4-32-34v-.17A32,32,0,0,1,96,241Z'
                                          style='fill:none;stroke-miterlimit:10;stroke-width:32px'/>
                                    <path d='M64,176l112,2c18,.84,32,12.41,32,30h0c0,17.61-14,28.86-32,30L64,240a32.1,32.1,0,0,1-32-32h0A32.1,32.1,0,0,1,64,176Z'
                                          style='fill:none;stroke-miterlimit:10;stroke-width:32px'/>
                                    <path d='M112,48l64,3c21,1.84,32,11.4,32,29h0c0,17.6-14.4,30-32,30l-64,2A32.09,32.09,0,0,1,80,80h0A32.09,32.09,0,0,1,112,48Z'
                                          style='fill:none;stroke-miterlimit:10;stroke-width:32px'/>
                                    <path d='M80,112l96,2c19,.84,32,12.4,32,30h0c0,17.6-13,28.84-32,30l-96,2a32.09,32.09,0,0,1-32-32h0A32.09,32.09,0,0,1,80,112Z'
                                          style='fill:none;stroke-miterlimit:10;stroke-width:32px'/>
                                </svg>
                            </button>
                        </div>
                        <button type="button" class="scroll_to_form " onclick="set_reply_comment({{ comment.id }})">
                            <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512'
                                 viewBox='0 0 512 512'>
                                <polyline points='400 160 464 224 400 288'
                                          style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
                                <path d='M448,224H154C95.24,224,48,273.33,48,332v20'
                                      style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
                            </svg>
                            <span>پاسخ</span></button>
                    </div>
                </li>
                {% if comment.children.all %}
                    {% for child in comment.children.all %}
                        <li class="comments__item comments__item--answer">
                            <div class="comments__autor">
                                <img class="comments__avatar" src="{% static 'img/user.svg' %}" alt="">
                                <span class="comments__name">{{ child.owner.email }}</span>
                                <span class="comments__time">{{ child.create_date|jalali }}</span>
                            </div>
                            <p class="comments__text">{{ child.text }}</p>
                            <div class="comments__actions">
                                <div class="comments__rate">
                                    <button type="button">
                                        <svg xmlns='http://www.w3.org/2000/svg' width='512'
                                             height='512'
                                             viewBox='0 0 512 512'>
                                            <path d='M320,458.16S304,464,256,464s-74-16-96-32H96a64,64,0,0,1-64-64V320a64,64,0,0,1,64-64h30a32.34,32.34,0,0,0,27.37-15.4S162,221.81,188,176.78,264,64,272,48c29,0,43,22,34,47.71-10.28,29.39-23.71,54.38-27.46,87.09-.54,4.78,3.14,12,7.95,12L416,205'
                                                  style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
                                            <path d='M416,271l-80-2c-20-1.84-32-12.4-32-30h0c0-17.6,14-28.84,32-30l80-4c17.6,0,32,16.4,32,34v.17A32,32,0,0,1,416,271Z'
                                                  style='fill:none;stroke-miterlimit:10;stroke-width:32px'/>
                                            <path d='M448,336l-112-2c-18-.84-32-12.41-32-30h0c0-17.61,14-28.86,32-30l112-2a32.1,32.1,0,0,1,32,32h0A32.1,32.1,0,0,1,448,336Z'
                                                  style='fill:none;stroke-miterlimit:10;stroke-width:32px'/>
                                            <path d='M400,464l-64-3c-21-1.84-32-11.4-32-29h0c0-17.6,14.4-30,32-30l64-2a32.09,32.09,0,0,1,32,32h0A32.09,32.09,0,0,1,400,464Z'
                                                  style='fill:none;stroke-miterlimit:10;stroke-width:32px'/>
                                            <path d='M432,400l-96-2c-19-.84-32-12.4-32-30h0c0-17.6,13-28.84,32-30l96-2a32.09,32.09,0,0,1,32,32h0A32.09,32.09,0,0,1,432,400Z'
                                                  style='fill:none;stroke-miterlimit:10;stroke-width:32px'/>
                                        </svg>
                                        10
                                    </button>
                                    <button type="button">0
                                        <svg xmlns='http://www.w3.org/2000/svg' width='512'
                                             height='512'
                                             viewBox='0 0 512 512'>
                                            <path d='M192,53.84S208,48,256,48s74,16,96,32h64a64,64,0,0,1,64,64v48a64,64,0,0,1-64,64H386a32.34,32.34,0,0,0-27.37,15.4S350,290.19,324,335.22,248,448,240,464c-29,0-43-22-34-47.71,10.28-29.39,23.71-54.38,27.46-87.09.54-4.78-3.14-12-8-12L96,307'
                                                  style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
                                            <path d='M96,241l80,2c20,1.84,32,12.4,32,30h0c0,17.6-14,28.84-32,30l-80,4c-17.6,0-32-16.4-32-34v-.17A32,32,0,0,1,96,241Z'
                                                  style='fill:none;stroke-miterlimit:10;stroke-width:32px'/>
                                            <path d='M64,176l112,2c18,.84,32,12.41,32,30h0c0,17.61-14,28.86-32,30L64,240a32.1,32.1,0,0,1-32-32h0A32.1,32.1,0,0,1,64,176Z'
                                                  style='fill:none;stroke-miterlimit:10;stroke-width:32px'/>
                                            <path d='M112,48l64,3c21,1.84,32,11.4,32,29h0c0,17.6-14.4,30-32,30l-64,2A32.09,32.09,0,0,1,80,80h0A32.09,32.09,0,0,1,112,48Z'
                                                  style='fill:none;stroke-miterlimit:10;stroke-width:32px'/>
                                            <path d='M80,112l96,2c19,.84,32,12.4,32,30h0c0,17.6-13,28.84-32,30l-96,2a32.09,32.09,0,0,1-32-32h0A32.09,32.09,0,0,1,80,112Z'
                                                  style='fill:none;stroke-miterlimit:10;stroke-width:32px'/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endfor %}

    </ul>

    {% if request.user.is_authenticated %}
        <form method="post" class="form" id="scrolles" novalidate>
            {% csrf_token %}
            {{ comments_form.parent_id }}

            {% render_field comments_form.comment class="form__textarea" placeholder=comments_form.comment.label %}
            {% for errors in comments_form.comment.errors %}
                <span class="text-danger">{{ errors }}</span>
            {% endfor %}

            {% if comments_form.re_captcha %}
                <div class="sign__group">
                    {{ comments_form.re_captcha }}
                </div>
                {% for errors in comments_form.re_captcha.errors %}
                    <span class="text-danger">{{ errors }}</span>
                {% endfor %}
            {% endif %}

            <button type="submit" id="comment_button_submit" class="form__btn">ارسال</button>
        </form>
    {% else %}
        <p class="alert alert-dark text-center"><a href="{% url 'account:login' %}">برا ثبت نظر ابتدا باید وارد حساب
            کاربری خود شوید</a></p>
    {% endif %}
</div>
