{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block BreadCrumb %}
    <section class="section section--first section--last section--head" data-bg="{% static 'img/bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section__wrap">
                        <h2 class="section__title">{{ page_title }}</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb__item"><a href="{% url 'home:home' %}">خانه</a></li>
                            <li class="breadcrumb__item breadcrumb__item--active">{{ page_title }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block Content %}

    <section class="section section--last section--catalog">
        <div class="container">
            <div class="row catalog">
                <div class="col-12 ">
                    <div class="row">
                        {% if faq_categories %}
                            {% for category in faq_categories %}
                                <div class="col-12 col-lg-6">
                                    <div class="faq">
                                        <h3 class="faq__title">{{ category.title }}</h3>
                                        <ul class="faq__list">

                                            {% for faq in category.faq_category.all %}
                                                <li><a href="faq/{{ faq.id }}/{{ faq.title.split|join:"-"}}"> {{ faq.title }} </a></li>
                                            {% endfor %}

                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}