{% load static %}
<script src="{% static 'js/jquery-3.5.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/wNumb.js' %}"></script>
<script src="{% static 'js/nouislider.min.js' %}"></script>
<script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
<script src="{% static 'js/jquery.mCustomScrollbar.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/notifications.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>


{% if messages %}
    <script>
        $(document).ready(function () {
            {% for message in messages %}
                {% if message.tags != 'debug' %}
                    ShowMessage('', '{{ message }}', '{{ message.tags }}');
                {% endif %}
            {% endfor %}
        });
    </script>
{% endif %}

<script>
$(document).ready(function () {
    $(".scroll_to_form").click(function () {
        $('html, body').animate({
            scrollTop: $("#scrolles").offset().top
        }, 1000);
    });
});

function set_reply_comment(commentId) {
    $('#id_parent_id').val(commentId);
}
</script>
