{% load render_partial %}
{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
<head>
    {% include 'shared/_MetaTags.html' %}
    {% block MetaTags %}{% endblock %}
    {% include 'shared/_HeaderReferences.html' %}
    <title>{{ page_title }}</title>
</head>

<body class="text-right">


<div class="sign section--full-bg" data-bg="{% static 'img/bg2.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sign__content">

                    <form class="sign__form" method="post">
                        {% csrf_token %}

                        <a href="index.html" class="sign__logo">
                            <img src="{% static 'img/logo.svg' %}" alt="">
                        </a>

                        <div class="sign__group">
                            {% render_field login_form.email class="sign__input" placeholder=login_form.email.label %}
                            {% for errors in login_form.email.errors %}
                                <span class="text-danger">{{ errors }}</span>
                            {% endfor %}
                        </div>

                        <div class="sign__group">
                            {% render_field login_form.password class="sign__input" placeholder=login_form.password.label %}
                            {% for errors in login_form.password.errors %}
                                <span class="text-danger">{{ errors }}</span>
                            {% endfor %}
                        </div>

                        {% if login_form.re_captcha %}
                            <div class="sign__group">
                                {{ login_form.re_captcha }}
                            </div>
                            {% for errors in login_form.re_captcha.errors %}
                                <span class="text-danger">{{ errors }}</span>
                            {% endfor %}
                        {% endif %}

                        <div class="sign__group sign__group--checkbox">
                            <input id="remember_me" name="remember_me" type="checkbox">
                            <label for="remember_me">مرا بخاطر بسپار</label>
                        </div>

                        <button class="sign__btn" type="submit">ورود</button>
                        <span class="sign__text">حساب کاربری ندارید ؟ <a href="{% url 'account:register' %}">ورود</a></span>
                        <span class="sign__text"><a href="{% url 'account:forget-password'%}">رمز عبور خود را فراموش کردید ؟</a></span>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


{% include 'shared/_FooterReferences.html' %}

</body>
</html>