{% load render_partial %}
{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
<head>
    {% include 'shared/_MetaTags.html' %}
    {% block MetaTags %}{% endblock %}
    {% include 'shared/_HeaderReferences.html' %}
    <title>{{ page_title }}</title>
</head>

<body class="text-right">


<div class="sign section--full-bg" data-bg="{% static 'img/bg2.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sign__content">

                    <form class="sign__form" method="post" novalidate>
                        {% csrf_token %}

                        <a href="{% url 'home:home' %}" class="sign__logo">
                            <img src="{% static 'img/logo.svg' %}" alt="">
                        </a>

                        <div class="sign__group">
                            {% render_field reset_password_form.password class="sign__input" placeholder=reset_password_form.password.label %}
                            {% for errors in reset_password_form.password.errors %}
                                <span class="text-danger">{{ errors }}</span>
                            {% endfor %}
                        </div>

                        <div class="sign__group">
                            {% render_field reset_password_form.re_password class="sign__input" placeholder=reset_password_form.re_password.label %}
                            {% for errors in reset_password_form.re_password.errors %}
                                <span class="text-danger">{{ errors }}</span>
                            {% endfor %}
                        </div>

                        {{ reset_password_form.active_code }}

                        {% if reset_password_form.re_captcha %}
                            <div class="sign__group">
                                {{ reset_password_form.re_captcha }}
                            </div>
                            {% for errors in reset_password_form.re_captcha.errors %}
                                <span class="text-danger">{{ errors }}</span>
                            {% endfor %}
                        {% endif %}


                        <button class="sign__btn" type="submit"> تایید</button>

                        {{ register_form.accept_rules }}
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


{% include 'shared/_FooterReferences.html' %}

</body>
</html>

